<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<!-- 引入样式 -->
		<link rel="stylesheet" href="https://unpkg.com/element-ui@2.13.2/lib/theme-chalk/index.css">
		<link rel="stylesheet" href="../assets/layui/css/layui.css"/>
	</head>
	<body>
		<div id="container">
			<el-row>
				<!-- <el-button type="primary" @click="insertduct">添加商品</el-button> -->
				<el-button type="primary" @click="dialogVisible = true">添加商品</el-button>
			  
				<el-dialog
					title="提示"
					:visible.sync="dialogVisible"
					width="30%"
					:before-close="handleClose">
					<el-form label-width="80px">
						<el-form-item label="商品名称">
							<el-input v-model="goodName"></el-input>
						</el-form-item>
						<el-form-item label="商品图片">
							<el-input v-model="goodPic1"></el-input>
						</el-form-item>
						<el-form-item label="推广说明">
							<el-input v-model="promoteDesc"></el-input>
						</el-form-item>
						<el-form-item label="文案说明">
							<el-input v-model="copyDesc"></el-input>
						</el-form-item>
						<el-form-item label="跳转链接">
							<el-input v-model="forwardLink"></el-input>
						</el-form-item>
						<el-form-item label="商品分类">
							<el-select v-model="typeId" placeholder="请选择活动区域">
								<el-option label="保健品" value="01"></el-option>
								<el-option label="饰品" value="02"></el-option>
								<el-option label="护肤品" value="03"></el-option>
								<el-option label="床上用品" value="04"></el-option>
								<el-option label="生活用品" value="05"></el-option>
								<el-option label="减肥产品" value="06"></el-option>
								<el-option label="零食" value="07"></el-option>
								<el-option label="数码产品" value="08"></el-option>
								<el-option label="编程类书籍" value="09"></el-option>
								<el-option label="家电" value="10"></el-option>
							</el-select>
						</el-form-item>
						<el-form-item label="产品网址">
							<el-input v-model="website"></el-input>
						</el-form-item>
						<el-form-item label="客服QQ">
							<el-input v-model="kfqq"></el-input>
						</el-form-item>
					</el-form>
					<span slot="footer" class="dialog-footer">
						<el-button @click="dialogVisible = false">取 消</el-button>
						<el-button type="primary" @click="addsubmit">确 定</el-button>
					</span>
				</el-dialog>
			</el-row>
			<template>
				<el-table :data="tableData" height="540" border style="width: 100%">
					<el-table-column prop="goodName" label="商品名称" width="180"></el-table-column>
					<el-table-column prop="goodPic1" label="商品图片" width="80">
						<template slot-scope="scope">
							<img :src="scope.row.goodPic1" class="image" style="width: 3.125rem;height: 3.125rem;" />
						</template>
					</el-table-column>
					<el-table-column prop="promoteDesc" label="推广说明"></el-table-column>
					<el-table-column prop="copyDesc" label="文案说明"></el-table-column>
					<el-table-column prop="forwardLink" label="跳转链接"></el-table-column>
					<el-table-column prop="goodType.typeName" label="商品分类"></el-table-column>
					<el-table-column label="是否有效">
						<template slot-scope="scope">
							<p v-if="scope.row.state=='0'">待审核</p>
							<p v-if="scope.row.state=='1'">已上架</p>
							<p v-if="scope.row.state=='2'">已下架</p>
						</template>
					</el-table-column>
					<el-table-column label="是否置顶">
						<template slot-scope="scope">
							<p v-if="scope.row.toped=='0'">未置顶</p>
							<p v-if="scope.row.toped=='1'">置顶</p>
						</template>
					</el-table-column>
					<el-table-column label="是否推荐">
						<template slot-scope="scope">
							<p v-if="scope.row.recomed=='0'">否</p>
							<p v-if="scope.row.recomed=='1'">是</p>
						</template>
					</el-table-column>
					<el-table-column prop="sellNum" label="作弊值"></el-table-column>
					<el-table-column prop="website" label="产品网址"></el-table-column>
					<el-table-column prop="kfqq" label="客服QQ"></el-table-column>
					<el-table-column label="操作" fixed="right">
						<template slot-scope="scope">
							<el-button size="mini" @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
							<el-button size="mini" type="danger" @click.native.prevent="handleDelete(scope.$index, tableData)">删除</el-button>
						</template>
					</el-table-column>
				</el-table>
			</template>
			
			<template>
				<div class="block">
					<el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" 
					:current-page="currentPage4" :pagesizes="[10, 50, 100, 400]" 
					:pagesize="20" layout="total, sizes, prev, pager, next, jumper" :total="total">
					</el-pagination>
				</div>
			</template>
			
			<el-dialog
				title="提示"
				:visible.sync="dialogVisibleUpdate"
				width="30%"
				:before-close="handleClose">
				<el-form label-width="80px">
					<el-form-item label="商品名称">
						<el-input v-model="updaterow.goodName"></el-input>
					</el-form-item>
					<el-form-item label="商品图片">
						<el-input v-model="updaterow.goodPic1"></el-input>
					</el-form-item>
					<el-form-item label="推广说明">
						<el-input v-model="updaterow.promoteDesc"></el-input>
					</el-form-item>
					<el-form-item label="文案说明">
						<el-input v-model="updaterow.copyDesc"></el-input>
					</el-form-item>
					<el-form-item label="跳转链接">
						<el-input v-model="updaterow.forwardLink"></el-input>
					</el-form-item>
					<el-form-item label="商品分类">
						<el-select v-model="updaterow.typeId" placeholder="请选择活动区域">
							<el-option label="保健品" value="01"></el-option>
							<el-option label="饰品" value="02"></el-option>
							<el-option label="护肤品" value="03"></el-option>
							<el-option label="床上用品" value="04"></el-option>
							<el-option label="生活用品" value="05"></el-option>
							<el-option label="减肥产品" value="06"></el-option>
							<el-option label="零食" value="07"></el-option>
							<el-option label="数码产品" value="08"></el-option>
							<el-option label="编程类书籍" value="09"></el-option>
							<el-option label="家电" value="10"></el-option>
						</el-select>
					</el-form-item>
					<el-form-item label="产品网址">
						<el-input v-model="updaterow.website"></el-input>
					</el-form-item>
					<el-form-item label="客服QQ">
						<el-input v-model="updaterow.kfqq"></el-input>
					</el-form-item>
				</el-form>
				<span slot="footer" class="dialog-footer">
					<el-button @click="dialogVisibleUpdate = false">取 消</el-button>
					<el-button type="primary" @click="updatesubmit">确 定</el-button>
				</span>
			</el-dialog>
		</div>
	</body>
	<script src="../assets/js/vue.js"></script>
	<!-- 引入组件库 -->
	<script src="https://unpkg.com/element-ui@2.13.2/lib/index.js"></script>
	<script src="../assets/axios/axios.min.js"></script>
	<script src="../assets/js/jquery.min.js"></script>
	<script src="../assets/layui/layui.js" charset="utf-8"></script>
	<script type="text/javascript">
		var vm = new Vue({
			el:"#container",
			data:{
				tableData:[],
				total: 100,
				size: 1,
				pagesize: 20,
				dialogVisible: false,
				dialogVisibleUpdate: false,
				updateindex:0,
				updaterow:[]
				,
				goodName:"",
				goodPic1:"",
				promoteDesc:"",
				copyDesc:"",
				forwardLink:"",
				typeId:01,
				website:"",
				kfqq:88888888
			},
			beforeMount:function(res){
				var tokenStr = "";
				var str = document.cookie;
				var arr = str.split(";");
				for(var i=0;i<arr.length;i++){
					var s = arr[i];
					if(s.split("=")[0].trim() == "token"){
						tokenStr = s.split("=")[1];
						break;
					}
				}
				console.log(tokenStr);
				axios({
					method: 'get',
					url: 'http://localhost:8080/good/listbyid',
					headers: {'token': tokenStr},
					params: {
						size:10,
						current:1
					}
				}).then(function(res) {
					console.log(res.data.data);
					// console.log(res.data.data.length);
					vm.tableData = res.data.data;
					vm.total = res.data.data.length;
				});
			},
			methods:{
				handleEdit:function(index,row){
					vm.dialogVisibleUpdate = true;
					vm.updateindex = index;
					vm.updaterow = row;
				},
				handleDelete:function(index,rows){
					console.log(index);
					console.log(rows[index]);
					vm.pagesize = event;
					var tokenStr = "";
					var str = document.cookie;
					var arr = str.split(";");
					for(var i=0;i<arr.length;i++){
						var s = arr[i];
						if(s.split("=")[0].trim() == "token"){
							tokenStr = s.split("=")[1];
							break;
						}
					}
					vm.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
						confirmButtonText: '确定',
						cancelButtonText: '取消',
						type: 'warning'
					}).then(() => {
						axios({
							method: 'delete',
							url: 'http://localhost:8080/good/delete',
							headers: {'token': tokenStr},
							params: {
								goodId:rows[index].goodId
							}
						}).then(function(res) {
							console.log(res);
							rows.splice(index, 1);
							vm.$message({
								type: 'success',
								message: '删除成功!'
							});
						});
					}).catch(() => {
						vm.$message({
							type: 'info',
							message: '已取消删除'
						});          
					});
				},
				handleSizeChange:function(event){
					console.log(event);
					vm.pagesize = event;
					var tokenStr = "";
					var str = document.cookie;
					var arr = str.split(";");
					for(var i=0;i<arr.length;i++){
						var s = arr[i];
						if(s.split("=")[0].trim() == "token"){
							tokenStr = s.split("=")[1];
							break;
						}
					}
					axios({
						method: 'get',
						url: 'http://localhost:8080/good/listbyId',
						headers: {'token': tokenStr},
						params: {
							size:vm.pagesize,
							current:event
						}
					}).then(function(res) {
						console.log(res.data.data);
						console.log(res.data.data.length);
						vm.tableData = res.data.data;
						vm.total = res.data.data.length;
					});
				},
				handleCurrentChange:function(event){
					console.log(event);
					var tokenStr = "";
					var str = document.cookie;
					var arr = str.split(";");
					for(var i=0;i<arr.length;i++){
						var s = arr[i];
						if(s.split("=")[0].trim() == "token"){
							tokenStr = s.split("=")[1];
							break;
						}
					}
					axios({
						method: 'get',
						url: 'http://localhost:8080/good/listById',
						headers: {'token': tokenStr},
						params: {
							size:vm.pagesize,
							current:event
						}
					}).then(function(res) {
						console.log(res.data.data);
						console.log(res.data.data.length);
						vm.tableData = res.data.data;
						vm.total = res.data.data.length;
					});
				},
				addsubmit:function(event){
					vm.dialogVisible = false;
					var tokenStr = "";
					var str = document.cookie;
					var arr = str.split(";");
					for(var i=0;i<arr.length;i++){
						var s = arr[i];
						if(s.split("=")[0].trim() == "token"){
							tokenStr = s.split("=")[1];
							break;
						}
					}
					axios({
						method: 'put',
						url: 'http://localhost:8080/good/insert',
						headers: {'token': tokenStr},
						params: {
							goodName:vm.goodName,
							goodPic1:vm.goodPic1,
							promoteDesc:vm.promoteDesc,
							copyDesc:vm.copyDesc,
							forwardLink:vm.forwardLink,
							typeId:vm.typeId,
							website:vm.website,
							kfqq:vm.kfqq
						}
					}).then(function(res) {
						if(res.data.code == 0){
							vm.$message('添加成功');
							location.href = "product_list.html";
						}
					});
				},
				handleClose:function(done){
					this.$confirm('确认关闭？')
					          .then(_ => {
					            done();
					          })
					          .catch(_ => {});
				},
				updatesubmit:function(event){
					vm.dialogVisible = false;
					var tokenStr = "";
					var str = document.cookie;
					var arr = str.split(";");
					for(var i=0;i<arr.length;i++){
						var s = arr[i];
						if(s.split("=")[0].trim() == "token"){
							tokenStr = s.split("=")[1];
							break;
						}
					}
					axios({
						method: 'post',
						url: 'http://localhost:8080/good/update',
						headers: {'token': tokenStr},
						params: {
							goodId:vm.updaterow.goodId,
							goodName:vm.updaterow.goodName,
							goodPic1:vm.updaterow.goodPic1,
							promoteDesc:vm.updaterow.promoteDesc,
							copyDesc:vm.updaterow.copyDesc,
							forwardLink:vm.updaterow.forwardLink,
							typeId:vm.updaterow.typeId,
							website:vm.updaterow.website,
							kfqq:vm.updaterow.kfqq
						}
					}).then(function(res) {
						console.log(res);
						if(res){
							vm.$message('更新成功');
							location.href = "product_list.html";
						}
					});
				}
			}
		});
	</script>
</html>
